div(ng-controller="dashboardController")
  
  .row
    .g-two
  
      .card
        .card-header
          h1 Dashboard
          h2.handwritten Bem vindo ao GMedic!
        .card-body
          p Isto é um Card, é composto de um titulo, um corpo e um footer.
          p.blockquote Titulo e Footer são opcionais
          p.comment Utilizar css mais semântico, como blockquote
          pre.
            .card
              .card-header
                h1 Titulo
              .card-body
                p Lorem ipsum
              .card-footer
                button Ok
        .card-footer
          button Ok
          
  .row
    .g-one
      .card
        p Oi
    .g-one
      .card
        p Oi
    .g-one
      .card
        p Oi
  .row
    .g-half
      .card
        p Oi
    .g-half
      .card
        p Oi
    .g-half
      .card
        p Oi
    .g-half
      .card
        p Oi
