.login {
  position: relative;
  overflow: auto;
  display: block;
  top: 15vh;
  width: 100%;
  max-width: 390px;
  margin: 0px auto;
  background: rgba(255,255,255,0.5);
  padding: 25px;
  border-radius: 13px;
}

.login h2 {
  font-size: 60px;
  color:lighten(black,35%);

  small {
    color:lighten(black,50%);
    font-size: 16px;
    top: -35px;
    position: relative;
  }
}

.login input {
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255,0.8);
  color:lighten(black,25%);
  border: none;
  outline:none;
  margin-bottom: 15px;
  font-size: 18px;
}

.btn-login {
  font-size: 24px;
  text-align: right;
  margin-bottom: 100px;
  padding-right: 30px;
  cursor:pointer;
}

.login a {
  display: inline-block;
  font-size: 18px;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width:45%;
  cursor:pointer;

  &.text-left {
    left:0;
  }
  &.text-right {
    right:0;
  }
}
