
body {
  font-family: Raleway, sans-serif;
  position: relative;
}


main {
  padding:$main-inner-spacing;
  padding-bottom:$main-bottom-space;
  position: relative;
  overflow: auto;
  min-width: 340px;
  min-height: 100vh;
  z-index: $main-zindex;

  background:$main-background 50% 50%;
  background-size:cover;
  background-repeat: no-repeat;
  color:$main-color;
}

figure#background {
  position: fixed;
  z-index: $background-zindex;
  width:100%;
  height: 100%;
  overflow: hidden;

  &>img {
    min-width: 100%;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media(min-width:$goldenStartSize + $goldenSize*6) {
  .header-visible main {
    margin-right: 340px;
  }
}


.handwritten { font-family: Indie Flower, cursive; }
.all-caps { text-transform: uppercase; }
.nowrap { white-space: nowrap; flex-wrap: nowrap;}
