menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  z-index: 300;
  margin:0;
  padding:0;
}

nav {
  position: fixed;
  height: 100%;

  &>ul {
    background:rgba(255,255,255,0.9);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;

    height: 100%;
    padding: 0;
    list-style: none;
    width:5px;
    opacity: 0.01;
    transition: width .4s ease, opacity .4s ease;

    &>li {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      height: 50px;
      width:100%;
      overflow: hidden;
      transition: all .5s ease;

      @for $i from 1 through $menu-items {
        &:nth-child(4n+#{$i}) {
          & > p {
            background:transparentize(
              mix($secondary-color, $primary-color, ($i/$menu-items)*100%),
              0.6
            )
          }
          &.category-visible > p {
            background:transparentize(
              mix($secondary-color, $primary-color, ($i/$menu-items)*100%),
              0
            )
          }
        }
      }

      &.category-visible {
        flex: 12;
      }

      &.menu-control {
        & > p {
          background: white;
          line-height: 65px;
        }
      }

      &>p {
        padding: 0 15px;
        height: 50px;
        line-height: 50px;
        margin: 0;
        flex: 1;
        cursor: pointer;
        box-shadow: 0px 2px 6px rgba(0,0,0,0.3);

        &>.glyphicon {
          font-size: 30px;
        }
      }

      &>ul {
        list-style: none;
        padding-left: 0px;
        flex: 30;
        overflow-y: auto;
        overflow-x: hidden;
      }

      ul {

        &>li {


          &>a {
            padding: 15px 0 15px 32px;
            display: block;

            &:focus, &:hover {
              background: rgba(0,0,0,0.1);
              outline: none;
            }

            &:active {
              box-shadow: inset 0px 2px 5px 1px rgba(0, 0, 0, 0.6);
              font-size: 85%;
            }

            &:first-child {
              padding-top:22px;
            }
          }
        }
      }

    }
  }
}

.menu-visible nav>ul,
nav>ul:hover {
  width:340px;
  opacity: 1;
}

@media(max-width: $goldenSize*2px + $goldenStartSize) {

  .menu-visible nav,
  .menu-visible nav>ul,
  nav:hover,
  nav>ul:hover {
    width:100%;
  }
}
