header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}

main {
  margin-left: 2px;
  position: relative;
  overflow: auto;
  min-width: 340px;
}

nav {position: relative;height: 100%;}

nav>ul {
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width:2px;
    overflow: hidden;
}

nav>ul>li {display: flex;flex-direction: column;flex: 1;overflow: hidden;transition: all .5s ease;}

nav>ul>li>p {
    padding: 15px;
    margin: 0;
    flex: 1;
    cursor: pointer;
}

nav>ul>li>ul {
    list-style: none;
    padding-left: 15px;
    flex: 30;
    overflow-y: auto;
    overflow-x: hidden;
    /* display: none; */
}

nav>ul ul>li>a {
    padding: 10px;
    display: block;
}

nav>ul>li.category-visible {
    flex: 12;
}



.header-visible main {
  margin-left: 340px;
}

.header-visible nav>ul {
  width:340px;
}
.category-visible > p {
    text-align: center;
}

.category-visible > p:after {
    content: "";
    display: block;
    width: 120px;
    border-bottom: 1px solid lightgray;
    margin: 0px auto;
    position: relative;
    top: 15px;
}
