
@import "../definitions";

$card-padding:8px;
$card-shadow: 0px 2px 3px rgba(0,0,0,0.34);
$card-section-border-separator:1px solid darken(white,4%);
$card-background:#FFF;
$card-min-height:60px;
$card-margin-bottom:15px;

$golden-grid-cell-padding:8px;
$goldenSize: $goldenSize;
$goldenStartSize: $goldenStartSize;
