
.card {

  background: $card-background;
  box-shadow: $card-shadow;
  padding:$card-padding;
  min-height: $card-min-height;
  margin-bottom: $card-margin-bottom;
  overflow:hidden;
  position:relative;

  &:before {
    position: absolute;
    opacity: 1;
    z-index: 1;
    content: "";
    background: #dadada;
    display: block;
    padding: 0;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding:75%; opacity:0;
    transition: padding .8s ease, opacity .8s ease;
  }

  &:active:before {
    padding:0; opacity:1;
    transition: none;
  }

  & > .card-header,
  & > .card-body,
  & > .card-footer {
    overflow: auto;
    max-height: 342px;
    padding:$card-padding;
    position:relative;
    z-index: 2;
  }

  & > .card-header {
  }
  & > .card-body {
  }
  & > .card-footer {
  }

  & > .card-header + .card-body,
  & > .card-body + .card-footer,
  & > .card-header + .card-footer, {
    border-top: $card-section-border-separator;
  }

}
