
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import url('./core/fonts/raleway/raleway.css');
@import url('./core/fonts/indieFlower/indieFlower.css');

.indie {
  color:white;
  font-family: Indie Flower;

  &:hover {
    font-size:100px;
  }

  &:active {
    color:tomato;
  }
}

body {
  font-family: Raleway, sans-serif;
  background:url('./core/main/sunsetbg.jpg') 50% 50%;
  background-size:cover;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 100vh;
  color:white;
}
